$light-grey: rgba(255, 255, 255, 0.6);
$yellow: rgba(255, 213, 36, 1);
$white: rgba(255, 255, 255, 1);

$dark-blue: rgba(25, 46, 69, 1);
$dark-blue90: rgba(25, 46, 69, 0.9);
$dark-blue80: rgba(25, 46, 69, 0.8);

$blue: rgba(41, 77, 115, 1);
$blue80: rgba(41, 77, 115, 0.8);
$blue60: rgba(41, 77, 115, 0.6);
$blue40: rgba(41, 77, 115, 0.4);

$green: rgba(68, 173, 77, 1);
$green90: rgba(68, 173, 77, 0.9);

$red: rgba(227, 64, 57, 1);
$red90: rgba(227, 64, 57, 0.9);
