{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "vue/setup-compiler-macros": true
  },
  "extends": ["plugin:vue/vue3-recommended", "eslint:recommended", "@vue/typescript/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": [],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "vue/attribute-hyphenation": "off",
    "vue/html-self-closing": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "vue/multi-word-component-names": "off",
    "vue/script-setup-uses-vars": "error"
  }
}
