html,
body,
#app {
  margin: 0;
  padding: 0;
}

:root {
  --blue: rgba(41, 77, 115, 1);
  --dark-blue: rgba(25, 46, 69, 1);
  --grey: #7F94AB;
  --light-grey: rgb(127, 148, 171);
  --white: rgba(255, 255, 255, 1);
  --yellow: rgba(255, 213, 36, 1);
  --success: #44AD4D;
  --error: #E34039;
}

body {
  background-color: var(--dark-blue);
  color: var(--light-grey);
  font-size: 16px;
}

img {
  max-width: 100%;
}

header {
  background-color: var(--blue);
  color: var(--white);
}

.text-success {
  color: var(--success);
}

.text-warning {
  color: var(--yellow);
}

.text-error {
  color: var(--error);
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}
